.hover-shadow:hover {
  box-shadow: 0 0 15px #4e46e58b;
  scale: 1.01;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
label {
  margin-bottom: 5px !important;
}
.collapse-content label {
  margin-bottom: 0px !important;
}
.collapse-content .mb-minus-5 {
  margin-bottom: -8px !important;
}
.content {
  padding: 0;
}
