<section class="added-image py-[0px] px-[10px] min-h-screen">
  <div
    class="header-title shadow-block flex items-center justify-between w-[100%]"
  >
    <h1 class="title text-2xl font-bold text-indigo-500">Send Tg message</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
    >
      <g
        fill="none"
        stroke="#4f45e5"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path
          stroke-dasharray="20"
          stroke-dashoffset="20"
          d="M21 5l-2.5 15M21 5l-12 8.5"
        >
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            dur="0.4s"
            values="20;0"
          />
        </path>
        <path stroke-dasharray="24" stroke-dashoffset="24" d="M21 5l-19 7.5">
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            dur="0.4s"
            values="24;0"
          />
        </path>
        <path
          stroke-dasharray="14"
          stroke-dashoffset="14"
          d="M18.5 20l-9.5 -6.5"
        >
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.4s"
            dur="0.3s"
            values="14;0"
          />
        </path>
        <path stroke-dasharray="10" stroke-dashoffset="10" d="M2 12.5l7 1">
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.4s"
            dur="0.3s"
            values="10;0"
          />
        </path>
        <path
          stroke-dasharray="8"
          stroke-dashoffset="8"
          d="M12 16l-3 3M9 13.5l0 5.5"
        >
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.7s"
            dur="0.3s"
            values="8;0"
          />
        </path>
      </g>
    </svg>
  </div>

  <div class="content">
    <div class="collapse-wrapper flex flex-col gap-2 mt-[0px] pb-[30px]">
      <div class="collapse hover-shadow border">
        <input
          type="radio"
          name="my-accordion-3"
          checked="checked"
          class="peer"
        />
        <div
          class="collapse-title text-xl font-medium peer-checked:bg-gradient"
        >
          <h2 class="text-xl text-indigo-400 font-bold pt-[10px]">
            Отправить push-уведомление
          </h2>
        </div>
        <div class="collapse-content peer-checked:bg-white mt-[10px]">
          <div class="form-group mb-[10px]">
            <label class="block text-sm font-bold mb-1"
              >URL изображения(необязательно):
              <!-- <span class="text-red-500 text-sm mt-2 block pt-0 w-full">
                  Неверный домен, вставьте изображение с начальним доменом
                  <br />
                  https://1xjet.jp/tgadmin/image/example.png или
                  https://1xjet.netlify.app/example.png
                </span> -->
            </label>
            <input
              class="input w-full mb-4 border border-indigo-100 rounded-xl px-4 py-0 focus:ring focus:ring-indigo-500 focus:ring-opacity-40"
              placeholder="https://example.com/image.jpg"
            />
          </div>
          <div class="form-group mb-[15px]">
            <label class="block text-sm font-bold mb-minus-5"
              >Текс сообщения(необязательно):</label
            >
            <textarea
              placeholder="Введите сообщение"
              class="block mt-2 w-full h-[245px] placeholder-gray-500 border border-indigo-200 bg-white px-4 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40 rounded-[22px]"
            ></textarea>
          </div>
          <h3 class="text-sm font-bold mb-1 mt-5">
            Кнопка сообщения(необязательно):
          </h3>
          <div
            class="header-tab flex items-center justify-between px-[20px] py-[20px] radius-30 w-[3/4] gap-4 mx-auto tracking-wide bg-base-100 shadow-block mb-[0px]"
          >
            <div class="form-group w-[45%]">
              <label class="block text-sm text-indigo-400 font-bold"
                >Название кнопки:</label
              >
              <input
                class="input w-full mt-2 mb-4 border border-indigo-100 rounded-xl h-[40px] py-2.5 focus:ring focus:ring-indigo-500 focus:ring-opacity-40 text-black"
                placeholder="Редактировать заголовок"
              />
            </div>
            <div class="form-group w-[45%]">
              <label class="block text-sm text-indigo-400 font-bold"
                >Ссылка на ресурс:
              </label>
              <input
                class="input w-full mt-2 mb-4 border border-indigo-100 rounded-xl py-2.5 focus:ring focus:ring-indigo-500 focus:ring-opacity-40 h-[40px] text-black"
                placeholder="Редактировать URL кнопки"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="collapse hover-shadow border">
        <input type="radio" name="my-accordion-3" class="peer" />
        <div
          class="collapse-title text-xl font-medium peer-checked:bg-gradient"
        >
          <label class="block text-xl text-indigo-400 font-bold text-center">
            ❗️ОБЯЗАТЕЛЬНО❗️ Для отправки сообщения выберите группу(ы)
          </label>
        </div>
        <div class="collapse-content peer-checked:bg-white">
          <div class="users-groups flex flex-col pt-[10px]">
            <div class="users-all-wrapper pb-3">
              <p class="text-gray-500 opacity-50 font-bold text-xl">
                Всем юзерам:
              </p>
              <div
                class="flex flex-col items-start btn btn-ghost btn-access w-fit mb-2 rounded-[35px]"
              >
                <label class="label cursor-pointer">
                  <span class="block text-lg pr-1"> All users </span>
                  <input type="checkbox" class="checkbox checkbox-success" />
                </label>
              </div>
            </div>
            <div class="users-group pb-3">
              <p class="text-gray-500 opacity-50 text-lg font-bold">
                Группы юзеров:
              </p>
              <div class="users-group-wrapper flex gap-4">
                <div
                  class="flex flex-col items-start btn btn-ghost btn-access w-fit mb-2 rounded-[35px]"
                >
                  <label class="label cursor-pointer">
                    <span class="block text-lg font-bold pr-1"> Casino </span>
                    <input type="checkbox" class="checkbox checkbox-success" />
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div
            class="btn-wrapper w-full flex items-center justify-center py-[20px]"
          >
            <button
              class="btn btn-success w-[50%] text-black text-xl rounded-[35px] min-h-[70px]"
            >
              Send message
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 24 24"
                >
                  <mask id="lineMdEmailCheck0">
                    <g
                      fill="none"
                      stroke="#fff"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    >
                      <path
                        stroke-dasharray="64"
                        stroke-dashoffset="64"
                        d="M4 5h16c0.55 0 1 0.45 1 1v12c0 0.55 -0.45 1 -1 1h-16c-0.55 0 -1 -0.45 -1 -1v-12c0 -0.55 0.45 -1 1 -1Z"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          dur="0.6s"
                          values="64;0"
                        />
                      </path>
                      <path
                        stroke-dasharray="24"
                        stroke-dashoffset="24"
                        d="M3 6.5l9 5.5l9 -5.5"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          begin="0.6s"
                          dur="0.2s"
                          values="24;0"
                        />
                      </path>
                      <path
                        fill="#000"
                        fill-opacity="0"
                        stroke="none"
                        d="M19 13c3.31 0 6 2.69 6 6c0 3.31 -2.69 6 -6 6c-3.31 0 -6 -2.69 -6 -6c0 -3.31 2.69 -6 6 -6Z"
                      >
                        <set
                          fill="freeze"
                          attributeName="fill-opacity"
                          begin="0.8s"
                          to="1"
                        />
                      </path>
                      <path
                        stroke-dasharray="10"
                        stroke-dashoffset="10"
                        d="M16 19l1.75 1.75l3.75 -3.75"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          begin="0.8s"
                          dur="0.2s"
                          values="10;0"
                        />
                      </path>
                    </g>
                  </mask>
                  <rect
                    width="24"
                    height="24"
                    fill="currentColor"
                    mask="url(#lineMdEmailCheck0)"
                  />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="collapse hover-shadow border">
        <input type="radio" name="my-accordion-3" class="peer" />
        <div
          class="collapse-title text-xl font-medium peer-checked:bg-gradient"
        >
          <h2 class="text-xl text-indigo-400 font-bold pt-[10px]">
            Отчет отправки сообщений
          </h2>
        </div>
        <div class="collapse-content peer-checked:bg-white mt-[10px]">
          <h3 class="text-sm font-bold mb-1 mt-5">
            Список отправленных сообщений:
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
