.content {
  padding: 100px 150px 60px !important;

  h2 {
    color: #2661e8;
  }
  .btn-info span {
    background: #2661e8 !important;
    background-color: #2661e8 !important;
  }
}
.hover-shadow:hover {
  box-shadow: 0 0 25px #ffffff;
  transition: 0.25s ease;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-6px);
  }
  80% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease;
}
