.tab-content {
  border-radius: 30px !important;
  height: 100%;
  min-height: 95dvh;
  border: 0;
  box-shadow: 0 0 20px #a5b4fc7c;
}
.tabs {
  background: linear-gradient(85deg, transparent, var(--bright-blue) 100%);
  border-radius: 30px;
}
.tab {
}
.tab:checked {
  background: var(--bright-blue);
  border-radius: 12px;
  box-shadow: 0 0 0 2px var(--bright-blue);
  color: #fff;
  font-weight: bold;
}
