<section class="added-image py-[0px] px-[10px] min-h-screen">
  <div
    class="header-title shadow-block flex items-center justify-between w-[100%]"
  >
    <h1 class="title text-2xl font-bold text-indigo-500">Image</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
    >
      <g
        fill="none"
        stroke="#4f45e5"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path
          stroke-dasharray="72"
          stroke-dashoffset="72"
          d="M3 14v-9h18v14h-18v-5"
        >
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            dur="0.6s"
            values="72;0"
          />
        </path>
        <path
          stroke-dasharray="24"
          stroke-dashoffset="24"
          stroke-width="1"
          d="M3 16l4 -3l3 2l6 -5l5 4"
        >
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.6s"
            dur="0.4s"
            values="24;0"
          />
        </path>
      </g>
      <g fill="#4f45e5" fill-opacity="0">
        <circle cx="7.5" cy="9.5" r="1.5">
          <animate
            fill="freeze"
            attributeName="fill-opacity"
            begin="1s"
            dur="0.2s"
            values="0;1"
          />
        </circle>
        <path d="M3 16l4 -3l3 2l6 -5l5 4V19H3Z">
          <animate
            fill="freeze"
            attributeName="fill-opacity"
            begin="1.3s"
            dur="0.15s"
            values="0;0.3"
          />
        </path>
      </g>
    </svg>
  </div>
  <div
    class="radius-30 shadow-block h-[90dvh] overflow-y-auto"
    #imageTableContainer
  >
    <div class="content py-[30px] px-[20px] flex flex-col gap-[30px] h-full">
      <app-image-upload
        class="h-full"
        (imageUploaded)="onImageUploaded($event)"
        (scrollDownRequested)="onScrollDownRequested()"
      ></app-image-upload>
    </div>
    <div
      class="content py-[30px] relative flex flex-col justify-center items-center gap-[30px] cursor-copy w-full"
    >
      <app-image-table
        id="imageTable"
        class="w-full"
        [images]="uploadedImages"
      ></app-image-table>
    </div>
  </div>
</section>
