.quiz-play {
  min-height: 100dvh;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 50px;
  border-radius: 20px;
  .quiz-play-quistion {
    padding: 0;
    margin: 10px auto 20px;
    border-radius: 20px;
    min-height: 30dvh;
  }
  .quistion-text-inner{
    border-radius: 25px;
    overflow: hidden;
  }
  .question-text{
    position: absolute;
    width: 100%;
    font-size: 25px;
    line-height: 1.2;
    bottom: 0;
    z-index: 10;
    padding: 20px 10px;
    border-radius: 24px;
  }
  .quistion-text img {
    max-height: 50dvh;
    // object-fit: scale-down;
    object-fit: cover;
  }
  .timer-box {
    position: absolute;
    top: -40px;
  }
  .quiz-play-answers-list {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
  }
  .quiz-play-answers-item {
    border-radius: 20px;
    padding: 20px 5px;
  }
  .text-accent-radial {
    color: #67e8f9 !important;
  }
  .text-primary-radial {
    color: #077bd3 !important;
  }
}
/* quiz-play.component.scss */
.question-image {
  transition: opacity 0.4s ease-in-out;
}

.question-image.opacity-0 {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .quiz-play {
    margin-top: -12.5px;
    padding-top: 0 !important;
    .quiz-play-answers-item {
      border-radius: 20px;
      padding: 10px 5px;
      line-height: 1.3;
      min-height: 61px;
    }
    .quiz-play-answers-list {
      gap: 7.5px;
    }
    .quiz-play-quistion {
      padding: 0;
      margin: 20px auto 12px;
      border-radius: 20px;
      min-height: 30dvh;
    }
  }
}
@media screen and (max-width: 768px) {
    .quiz-play-quistion .question-text {
      font-size: 18px;
      text-align: center;
      line-height: 1.2;
    }
}