.quiz-detail.h-space {
  padding-top: 118px;
}
.card {
  .btn-single {
    border-radius: 0 0;
  }
  .btn:focus,
  .btn:active {
    transform: none;
  }
  .filled {
    background: #67e8f9 !important;
    // --electric-violet: oklch(53.18% 0.28 296.97);
    // --french-violet: oklch(47.66% 0.246 305.88);
  }
  .collapse-title {
    padding-inline-end: 0;
  }
  .rating input[type="radio"]:checked {
    background-image: var(--vivid-pink);
  }

  figure {
    max-width: 500px;
    margin: 0 auto;
    cursor: pointer;
  }

  .img-wrapper {
    height: 333px;
  }
  .bg-red-v {
    background: #67e8f93b;
  }

  .img-stack-wrapper {
    position: relative;
    overflow: visible;

    img {
      position: absolute;
      transition: all 0.5s ease;
      top: 0;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }

    img:nth-child(1) {
      transform: rotate(-10deg);
      z-index: 10;
    }

    img:nth-child(2) {
      transform: rotate(-5deg);
      z-index: 9;
    }

    img:nth-child(3) {
      transform: rotate(0deg);
      z-index: 8;
    }

    img:nth-child(4) {
      transform: rotate(5deg);
      z-index: 7;
    }

    img:nth-child(5) {
      transform: rotate(10deg);
      z-index: 6;
    }

    &:hover img {
      transform: rotate(0);
      opacity: 1;
      // box-shadow: 0 0 3rem #077bd36d;
      scale: 1.1;
    }
  }

  //for-mobile
  // .img-stack-wrapper {
  //   position: relative;
  //   overflow: visible;

  //   img {
  //     position: absolute;
  //     transition: all 0.5s ease;
  //     top: 0;
  //   }

  //   img:first-child {
  //     z-index: 10;
  //   }

  //   img:nth-child(2) {
  //     transform: translateX(-2px) rotate(-2deg);
  //     z-index: 9;
  //   }

  //   img:nth-child(3) {
  //     transform: translateX(-4px) rotate(-4deg);
  //     z-index: 8;
  //   }

  //   img:nth-child(4) {
  //     transform: translateX(-6px) rotate(-6deg);
  //     z-index: 7;
  //   }

  //   img:nth-child(5) {
  //     transform: translateX(-8px) rotate(-8deg);
  //     z-index: 6;
  //   }

  //   img:nth-child(6) {
  //     transform: translateX(-10px) rotate(-10deg);
  //     z-index: 5;
  //   }

  //   &:hover img {
  //     transform: translateX(0) rotate(0);
  //     opacity: 1;
  //   }
  // }
}

@media (max-width: 768px) {
  .h-space {
    padding-top: 110px;
  }
}
