.quiz-list {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    // padding: 40px 0;
  }
  .card:hover {
    box-shadow: 0 0 3em white, 0 0 6em whitesmoke;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    z-index: 1;
  }
  .card:active {
    transform: scale(0.98);
    transition: 0.1s ease-in-out;
  }
  .quiz-list-wrapper {
    gap: 10px;
    // max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 40px;
  }
  .quiz-item img {
    // aspect-ratio: 16 / 8;
    // object-fit: fill;
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  .quiz-item {
    flex: 33%;
  }
  .btn-card {
    width: 100%;
    border-radius: 0 0 15px 15px;
  }
  .btn:active:focus {
    transform: none;
  }
  .btn img {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
  }
}

@media (max-width: 1024px) {
  .quiz-list {
    .quiz-list-wrapper {
      padding: 20px 10px;
    }
  }
}
